<!DOCTYPE html>
<html>
<head>
  <title>Gym Badge XP Calculator</title>
  <meta id="META" name="viewport" content="width=device-width; initial-scale=1.0"/>
</head>
<body>
  <h1>Gym Badge XP Calculator</h1>
  <p>
    <form name="form" method="POST" enctype="multipart/form-data">
      Upload gym list image: <input type="file" name="file"/>
      <input type="submit" value="Upload"/>
    </form>
  </p>
  <p>
    Notes:
    <ul>
      <li>Take a screenshot of your gym list and upload it, then you will get a new image back annotated with the approximate badge XP necessary to get to the next badge level.</li>
      <li>Tested with Android, 1080-pixel width screen, and lossless image format (such as png, not jpg). The result may be inaccurate with other configurations.</li>
      <li>This service send back the result immediately without saving your image. So there are no worries about the privacy.</li>
      <li><a href="https://github.com/tomoto/poke-gymbadge">Source code at GitHub</a></li>
    </ul>
  </p>
</body>
</html>
